SECRET_KEY=76c62bu6cnu(ga2%l93z+895^8lbr$v7wp9cd6ux&obm!&&o0q
DEBUG=False
ALLOWED_HOSTS=.onrender.com,localhost,127.0.0.1
DATABASE_URL=postgresql://neondb_owner:npg_SeNMd7iaIX3u@ep-dawn-shadow-ai4ljurk-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NEON_DATABASE_URL=postgresql://neondb_owner:npg_SeNMd7iaIX3u@ep-dawn-shadow-ai4ljurk-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CORS_ALLOWED_ORIGINS=https://dressrepo.vercel.app
CSRF_TRUSTED_ORIGINS=https://chaudo-backend.onrender.com,https://dressrepo.vercel.app
CORS_ALLOW_ALL_ORIGINS=False
